#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    
}
 
.App {
    text-align: center;
    margin-top: 2rem;
}

.h2Style {
    color: blue;
}

a {
    text-decoration: none;
}
 
.my-title {
    color: #f54366;
}

.title {
    color: orange;
}

.card {
    max-width: 400px;
    box-shadow: 0 0.5rem 1rem rgba(224, 221, 221, 0.15);
}

.btn {
    background-color: #262727;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn:hover {
    opacity: 0.8;
    background-color: #3245f0fd;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}